.day-graph {
  width: 96%;
  height: 278px;
  text-shadow: rgb(0, 0, 0, 30%) -2px 2px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.18);
  padding: 10px;

  @media screen and (max-width: 1300px) {
    margin-top: 0px;
    margin-left: 10px;
    width: 48%;
    height: 280px;
    padding: 0px;
  }
  @media screen and (max-width: 1000px) {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    margin-left: 0px;
    height: 280px;
  }

  @media screen and (max-width: 500px) {
    height: 218px;
  }
}

.recharts-tooltip-wrapper {
  width: auto;
  height: 30px;
}

.label {
  padding: 0;
  margin-top: 3px;
}

.recharts-tooltip-wrapper:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0px;
}
