@font-face {
  font-family: Inter100;
  src: url("../fonts/Inter-Thin.ttf");
}

@font-face {
  font-family: Inter200;
  src: url("../fonts/Inter-ExtraLight.ttf");
}

@font-face {
  font-family: Inter300;
  src: url("../fonts/Inter-Light.ttf");
}

@font-face {
  font-family: Inter400;
  src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: Inter500;
  src: url("../fonts/Inter-Medium.ttf");
}
